       <footer> 
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
        	<div class="col-md-5 col-sm-4 col-xs-12 quicklinks">
            	<h2>quicklinks</h2>
                <ul>
                	<li><a href="index.html">Home</a></li>
                    <li><a href="features.html">Features</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="about.html">about </a></li>
                    <li><a href="contact.html">Contact Us</a></li>
               	</ul>
                <div class="clearfix"></div>
                
                <p>© Copyright  2016 XYSec Labs Pte. Ltd. <br>
Privacy & Security Statement
</p>
            </div>
            
            
            <div class="col-md-3 col-sm-4 col-xs-12 sales">
            	<h2>for sales</h2>
                <p><i class="fa fa-mobile"></i><span class="phon"> +65 865 38627</span></p>
                <div class="clearfix"></div>
                <p><i class="fa fa-envelope"></i><span> hello@appknox.com</span></p>
            </div>
            
            <div class="col-md-4  col-sm-4 col-xs-12 Get">
            	<h2>Get Notified</h2>
                
                <p>Get the latest updates on mobile quickly</p>
                
             <form action="#" method="post" name="sign up for beta form">
                  <div class="input">
                        <input type="text" class="button" id="email" name="email" placeholder="">
                        <input type="submit" class="button" id="submit" value="Sign Up">
                  </div>
            </form>
                
                <p class="follow">follow us on</p>
                
                <ul>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            
        </div>
    </section>


        
    </footer>


